.addForm {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.input_costom {
  background-color: rgba(255, 255, 255, 0.513);
  border-radius: 10px;
  padding: 5px 10px;
  width: 736px;
}
