.addForm {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 15px;
}

.input_costom {
  background-color: rgba(255, 255, 255, 0.513);
  height: min-content;
  border-radius: 10px;
  padding: 3px 10px;
  width: 81.9%;
}
