.addForm {
  width: 100%;
  min-height: 39px;
  display: flex;
  justify-content: space-between;
}

.input_costom {
  background-color: rgba(255, 255, 255, 0.513);
  border-radius: 10px;
  padding: 5px 10px;
  width: 100%;
  margin-right: 15px;
}

.btn {
  font-size: 0.8rem;
  border-radius: 10px;
  width: 20%;
}

.btnMobile {
  font-size: 0.8rem;
  width: 22%;
  display: none;
}

@media (max-width: 950px) {
  .input_costom {
    padding: 5px;
    height: min-content;
    margin-right: 8px;
  }

  .btn {
    display: none;
  }

  .btnMobile {
    min-height: 39px;
    border-radius: 10px;
    display: flex;
    width: 30%;
    padding: 0px 3px;
    height: 100%;
  }
}
