.title {
  box-sizing: border-box;
  font-size: 7rem;
  color: rgba(200, 71, 92, 0.88);
  font-weight: 900;
  font-family: "Nunito";
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.59);
  line-height: 1;
}
