@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

html,
body {
  margin: 0 !important;
  padding: 0 !important;
}

/* Для React-приложений */
#root {
  font-family: "Nunito", sans-serif !important;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-size: 13px;
}
