.main {
  background-color: rgb(176, 194, 209);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  position: relative;
}
.container {
  width: 75%;
  min-height: 50vh;
  border: solid 5px rgb(232, 229, 229);
  border-radius: 20px;
  padding: 20px;
}

.footer {
  flex-shrink: 0;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: inherit;
  width: 100%;
  position: absolute;
  bottom: 10px;
  padding-bottom: 5px;
}
