.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu_left {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.menu_right {
  width: 30%;
}

.word {
  color: rgb(146, 143, 143);
  font-weight: 600;
  width: 60px;
}
